<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.swmarastro.mykkumi.feature.auth"/>
<!--<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.swmarastro.mykkumi.feature.auth">

    <application>
        <activity
            android:name=".LoginComposeActivity"
            android:exported="false"
            android:label="@string/title_activity_login_compose"
            android:theme="@style/Theme.MyKkumi_AOS" />
    </application>

</manifest>-->