<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.swmarastro.mykkumi.feature.auth">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application>

        <activity
            android:name=".LoginComposeActivity"
            android:exported="true"
            android:label="@string/title_activity_login_compose"
            android:theme="@style/Theme.MyKkumi_AOS" >

            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <!-- Redirect URI: "kakao${NATIVE_APP_KEY}://oauth" -->
                <data android:scheme="kakao${KAKAO_NATIVE_APP_KEY}" android:host="oauth" />

                <data android:scheme="mykkumi" android:host="mykkumi-signin"/>
            </intent-filter>

        </activity>

        <provider
            android:authorities="com.swmarastro.mykkumi.android.provider"
            android:name="androidx.core.content.FileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/image_file_paths" />
        </provider>

    </application>

</manifest>